.poster_wrap {
  position: relative;

  & > img {
    aspect-ratio: 3 / 4;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $spacing-md $spacing-xl;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 1)
      );
      pointer-events: none;
      z-index: 1;
    }

    h1 {
      position: relative;
      display: inline-block;
      font-size: $font-size-xl;
      font-weight: 600;
      z-index: 2;
    }
  }
}

.movie_meta {
  display: flex;
  justify-self: center;
  gap: $spacing-sm;

  dt {
    @include blind;
  }

  dd {
    padding: $spacing-sm;
    background-color: $color-secondary-dark;
    border-radius: 16px;
    font-size: $font-size-xs;
    line-height: 1;
    color: $color-text-secondary;
  }
}
