$color-primary: #0e1518;
$color-primary-light: #272e30;
$color-primary-dark: #0b1113;
$color-secondary: #414649;
$color-secondary-light: #4d5355;
$color-secondary-dark: #343a3c;

$color-background: #000;
$color-surface: $color-primary-light;
$color-surface-active: #f9f8ff;
$color-text-primary: #f9f8ff;
$color-text-primary-active: $color-primary;
$color-text-secondary: #e0dfe5;
$color-border: #303537;

$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2rem;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 20px;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;

// https://www.favocolor.com/hex/0e1518
