.genre_list {
  padding: $spacing-xs $spacing-md $spacing-lg $spacing-lg;
  display: flex;
  overflow: scroll;
  gap: 0.6rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.genre_item {
  button {
    padding: 0 1rem;
    height: 3.2rem;
    background-color: $color-surface;
    border-radius: $border-radius-xl;
    font-size: $font-size-xs;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02rem;

    &.active {
      background-color: $color-surface-active;
      color: $color-text-active;
    }
  }
}
