.header {
  width: 100%;

  .header_wrap {
    padding: 1rem 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: $max-width;
    height: $header-height;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .icons {
    padding-right: 2rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    ul {
      display: flex;
      gap: 1rem;
    }
  }
}

.nav {
  width: 100%;

  .nav_wrap {
    padding: 0.8rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $max-width;
    background-color: #f3f3f3;
  }

  .category_list {
    display: flex;
    gap: 1rem;

    li {
      a {
        padding: 0.2rem;
        display: inline-block;
        position: relative;
        font-weight: 600;
        transition: color 0.2s ease-in;

        &:hover {
          color: $primary-color;
        }

        &.active {
          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 50%;
            width: 80%;
            height: 2px;
            background: $primary-color;
            border-radius: 1px;
            transform: translateX(-50%);
            transition: background 0.2s;
          }
        }
      }
    }
  }
}
